.dishes {
  margin-top: 6rem;
  @include mq(md) {
    padding-inline: 1rem;
  }
}

.dishes--wrapper {
  background-color: $bg-dark-2;
  padding: 4rem 1rem;
  border-top: 2px solid $clr-secondary-1;
  border-bottom: 2px solid $clr-secondary-1;

  @include mq(md) {
    border: 2px solid $clr-secondary-1;
    padding: 4rem;
  }
}

.dishes--header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;

  @include mq(lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.dishes--header__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
