///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.

$global-radius: 3px !default;
//$global-transition: all 300ms ease-in-out !default;
$inuit-static-images: false;
$global-font-size: 16px;
$roboto: "Roboto Slab", serif;

$bg-dark-1: #000000;
$bg-dark-2: #181110;
$bg-dark-3: #ffffff1a;

$clr-text-1: #ffffff;
$clr-text-2: #a3a3a3;

$clr-primary-1: #d14800;
$clr-primary-2: #a13800;
$clr-secondary-1: #404040;
$clr-secondary-2: #2b2b2b;
